<button class="btn btn-info mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa fa-sharp fa-regular fa-arrow-right "></i> </button>
<div class="offcanvas offcanvas-start w-auto" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="fa fa-sharp fa-regular fa-home me-2 "></i> 
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="fa fa-sharp fa-regular fa-dashboard me-2 "></i> 
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="fa fa-sharp fa-regular fa-book me-2 "></i>    
          Blogs
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="fa fa-sharp fa-regular fa-user me-2 "></i>   
          Users
        </a>
      </li>
    </ul>
  </div>
</div>